
@{
    ViewBag.Title = "Beneficiários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Raw(ViewBag.Title)</h2>

@Html.Partial("Forms")
<table id="gridBeneficiarios" class="table"></table>

